{% extends 'base.html' %}

{% block title %} Student {% endblock %}

{% block content %}
<!-- Upper Section -->
<div class="row mt-3">
    <div class="col-md-6">
        {% for column in pcolumns %}
        <div class="form-group">
            <label for={{column}}>{{column}}</label>
            <p class="form-control" id="{{ column }}" name="{{ column }}">{{ student[column] }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <form class="btn-group" method="post">
            <a type="button" class="btn btn-primary" href="{{ url_for('student.student_edit', uuid=student['outid']) }}">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
<!-- Lower Section -->
<a type="button" class="btn btn-primary" href="{{ url_for('test.test_add', student_uuid=student['outid']) }}">Add test</a>
<div class="row mt-3">
    <div class="col">
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for column in tcolumns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for test in tests %}
                <tr>
                    {% for column in tcolumns %}
                    <td>
                        <a href="{{ url_for('test.test', id=test['id'], student_uuid=test['outid']) }}">
                        {{ test[column] }}
                        </a>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}