{% extends 'base.html' %}

{% block title %} Student Edit {% endblock %}

{% block content %}
<!-- Upper Section -->
<form method="post">
    {% for column in columns %}
    <div class="form-group">
        <label for="{{ column }}">{{ column }}</label>
        {% if column in ("sextype", "location") %}
        <select id="{{ column }}" name="{{ column }}_id" class="form-select">
            {% for option in options[column] %}
            <option value="{{ option.id }}" {{ 'selected' if student[column].id == option.id }}>{{ option }}</option>
            {% endfor %}
        </select>
        {% elif column == "outid" %}
        <p id="{{ column }}" name="{{ column }}">{{ student[column] }}</p>
        {% else %}
        <input class="form-control" id="{{ column }}" name="{{ column }}" placeholder="{{ student[column] }}">
        {% endif %}
    </div>
    {% endfor %}
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary" onclick="history.back()">Back</button>
    </div>
</form>
{% endblock %}